body{
    font-family: 'Poppins', sans-serif;
    background: url(../images/bg-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    height: 200px;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.header .logo img{
    max-width: 250px;
}

.main .container{
    display: flex;
    max-width: 1440px;
    margin: 0 80px;
    margin-top: -70px;
    justify-content: space-around;
}

.main .container .img img{
    width: 95%;
}

.main .container .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 385px;
    height: 300px;
    margin-top: 60px;
}

.main .container .info h1{
    font-weight: 600;

}

.main .container .info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.main .container .info a{
    border-radius: 30px;
    color: var(--primary-color);
    background-color: #fff;
    max-width: 180px;
    height: 47px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container .info a:hover{
    background-color: var(--second-color);
    transition: 0.3s;
    color: #fff;
}

.fa-instagram, .fa-facebook, .fa-twitter{
    font-size: 20px;
}

footer .icons{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 50px;
    margin-top: -70px;
}

footer .icons i{
    color: #fff;
    border: solid 2px;
    border-radius: 50%;
    transition: 0.3s;
    padding: 5px;
}

footer .icons i:hover{
    color: var(--second-color);
    transition: 0.3s;
}


/* Responsive */

@media(max-width:1150px){
    .main .container .info{
        margin-top: 40px;
    }

    .main .container .info h1{
        font-size: 25px;
    }

    .main .container .info p{
        font-size: 15px;
    }
}

@media(max-width:950px){
    .main .container .info{
        margin-top: 0;
        height: 250px;
    }

    .main .container .info a{
        height: 30px;
    }
}

@media(max-width:800px){
    .main{
        display: flex;
        justify-content: center;
    }

    .header{
        height:70px;
    }

    .header .logo img{
        width:150px;
    }
    
    .main .container{
        max-width: 600px;
        margin: 0 35px;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }

    .main .container .info{
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0 60px;
        justify-content: space-around;
    }

    .main .container .info a{
        width: 120px;
    }

    footer{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    footer .icons{
        margin-top: 0;
        margin-right: 0;
    }
}